/* Globale Stile */
body {
  font-family: 'Arial', sans-serif; /* Moderne Schriftart */
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Haupt-Hintergrundfarbe Weiß */
}

.container {
  max-width: 1200px; /* Maximalbreite des Inhalts */
  margin: 0 auto; /* Zentriert den Inhalt */
  padding: 20px; /* Innenabstand für den Inhalt */
}

/* Neue Klasse für nebeneinander liegende Abschnitte */
.side-by-side {
  display: flex;
  justify-content: space-between; /* Verteilt die Abschnitte mit Platz dazwischen */
}

.moneyRules {
  text-align: center;
  padding: 0px;
  color: #FF0000;
}

.containerMoneyRules {
  padding: 0px;
}

.side-by-side section {
  flex: 1; /* Lässt die Abschnitte gleichmäßig Platz einnehmen */
  margin: 0 10px; /* Optionaler Abstand zwischen den Abschnitten */
}

/* Header */
header {
  background-color: #007BFF; /* Hintergrundfarbe des Headers Blau */
  padding: 20px 0;
}

header .container {
  display: flex; /* Verwende Flexbox */
  justify-content: space-between; /* Verteilt den Titel und die Navigation */
  align-items: center; /* Zentriert die Elemente vertikal */
  font-weight: bold;
}

header .container h1 {
  margin: 0; /* Entferne den Standardabstand */
}

header .container h1 a {
  text-decoration: none; /* Entfernt die Unterstreichung */
  color: inherit; /* Erbt die Textfarbe vom übergeordneten Element */
}

header .container h1, header .container h2 {
  color: #ffffff; /* Textfarbe der Titel und Untertitel Weiß */
}

/* Navigation */
#main-nav {
  background-color: transparent; /* Entferne den Hintergrund der Navigation */
}

#main-nav ul {
  list-style: none; /* Entfernt die Standard-Aufzählungszeichen */
  margin: 0;
  padding: 0;
  display: flex;
}

#main-nav ul li {
  margin: 0 15px;
}

#main-nav ul li a {
  text-decoration: none; /* Entfernt die Standard-Unterstreichung */
  color: #ffffff; /* Textfarbe der Links Weiß */
  font-size: 16px; /* Schriftgröße der Links */
}

#main-nav ul li a:hover {
  color: #FF0000; /* Textfarbe der Links beim Hover Rot */
}

/* Hauptinhalt */
main {
  background-color: #ffffff; /* Hintergrundfarbe des Hauptinhalts Weiß */
  padding: 20px 0;
}

/* Abschnitte */
main section {
  padding: 20px 0;
}

main section h2 {
  color: #FF0000; /* Textfarbe der Abschnittstitel Rot */
}

/* Footer */
footer {
  background-color: #007BFF; /* Hintergrundfarbe des Footers Blau */
  padding: 20px 0;
}

footer .container p {
  color: #ffffff; /* Textfarbe des Fußtextes Weiß */
}

/* Stil für den Dropdown-Button */
.dropbtn {
  background-color: #FF0000; 
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} 

/* Stil für den Dropdown-Inhalt */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Stil für die Dropdown-Optionen */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Ändert die Hintergrundfarbe, wenn der Benutzer die Maus über eine Option bewegt */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Zeigt den Dropdown-Inhalt, wenn der Benutzer den Button klickt */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Zeigt den Dropdown-Inhalt, wenn der Benutzer über dem Dropdown hovert */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Kuchendiagramme */
.bigMacChart1, .bigMacChart2 {
  max-width: 200px; /* Maximalbreite der Kuchendiagramme */
  max-height: 200px; /* Maximalhöhe der Kuchendiagramme */
}

.chart-container {
  display: flex; /* Verwende Flexbox, um die Diagramme nebeneinander anzuzeigen */
  justify-content: space-around; /* Verteile die Diagramme gleichmäßig */
  padding: 20px 0;
}

#bigMacChart1, #bigMacChart2 {
  max-width: 300px; /* Maximalbreite der Kuchendiagramme */
  max-height: 300px; /* Maximalhöhe der Kuchendiagramme */
}

#exchangeRateDisplay {
  padding: 3em;
}