/* .Titel_P {
    color: red;
    font-weight: bold;
} */

/* Globale Stile */
body {
    font-family: 'Arial', sans-serif; /* Moderne Schriftart */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* Maximalbreite des Inhalts */
    margin: 0 auto; /* Zentriert den Inhalt */
    padding: 20px; /* Innenabstand für den Inhalt */
}

/* Header */
header {
    background-color: #94477f; /* Hintergrundfarbe des Headers */
    padding: 20px 0;
}

header .container h1, header .container h2 {
    color: #ffffff; /* Textfarbe der Titel und Untertitel */
}

/* Hauptinhalt */
main {
    background-color: white; /* Hintergrundfarbe des Hauptinhalts */
    padding: 20px 0;
}

/* Abschnitte */
main section {
    padding: 40px 0;
}

main section h2 {
    color: #ffffff; /* Textfarbe der Abschnittstitel */
}

/* Footer */
footer {
    background-color: #94477f; /* Hintergrundfarbe des Footers */
    padding: 20px 0;
}

footer .container p {
    color: #ffffff; /* Textfarbe des Fußtextes */
}

/* Stil für den Button */
.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Stil für den Dropdown-Inhalt */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Stil für die Dropdown-Optionen */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Ändert die Hintergrundfarbe, wenn der Benutzer die Maus über eine Option bewegt */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Zeigt den Dropdown-Inhalt, wenn der Benutzer den Button klickt */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Zeigt den Dropdown-Inhalt, wenn der Benutzer über dem Dropdown hovert */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
 
  